/* Roots */
:root {
  --mainbg-color: #f5f0ed;
  --primary-color: #dcdcdc;
  --standard-gold: #d5b980;
  --white-smoke: #f4f4f4;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 16px;

  font-family: "Chillax", sans-serif;
}
@media screen and (min-width: 320px) {
  html {
    font-size: calc(16px + 6 * ((100vw - 320px) / 680));
  }
}
@media screen and (min-width: 1000px) {
  html {
    font-size: 22px;
  }
}

/* Main Container CSS */

#main-container {
  position: relative;
  padding: 0;
  margin: auto;
  width: 100%;

  background-color: #fff;
  top: auto;
}
.landing-section {
  position: relative;
  width: 100%;
  height: calc((100vw / 1.8) - 88px);
  margin: auto;
  border-bottom: 1px solid black;
  background-color: white;
}
.standard-btn {
  width: 10em;
  padding: 1em;
  text-align: center;
  border-radius: 1em;
  border: none;
  outline: none;
  border: 1px solid var(--standard-gold);
  background-color: transparent;
  margin: 1em 0;
}
.standard-icon {
  width: 1.5em;
  margin-right: 0.5em;
}
.standard-social-icons {
  display: flex;
  justify-content: space-around;
  align-items: center;
  max-width: 250px;

  margin: 1em;
}
h2 {
  color: var(--standard-gold);
}
/* Reponsive Landing Slideshow */
@media (max-width: 991.98px) {
  .landing-section {
    height: calc(100vw * 1.3);
  }
}
@media all and (max-width: 768px) {
  #main-container {
    position: relative;
    padding: 0;
    margin: auto;
    width: 100%;
    max-width: 1200px;
    height: 100%;
    top: 6vh;
  }
  .landing-section {
    width: 100%;
    margin: auto;
    height: 94vh;
    background-color: white;
    border: 0;
  }
}
/* Landing */

.landing-container {
  height: 100%;
  position: relative;
}
.swiper-container {
  height: 100%;
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.swiper-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  width: auto;
}
.swiper-slide-1-heading h1 {
  margin: 0;
}
.swiper-1 {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url(../images/man-barbershop-salon-doing-haircut-beard-trim.jpg);
  background-size: cover;
}
.swiper-2 {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url(../images/pexels-thgusstavo-santana-2521978.jpg);
  background-size: cover;
}
.swiper-3 {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url(../images/pexels-cottonbro-3992862.jpg);
  background-size: cover;
}
.swiper-slide-heading {
  display: flex;
  align-items: center;
  flex-direction: column;
  color: #fff;
}
.swiper-btn {
  border: 1px solid goldenrod;
  padding: 1em;
  margin: 1em;
  border-radius: 0.5em;
  background: transparent;
  cursor: pointer;
  color: #fff;
}
/* Intro Section */

.intro-section {
  width: 100%;
}
.intro-container {
  max-width: 1200px;
  padding: 1em;
  margin: auto;
}
.intro-heading {
  text-align: center;

  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  margin: 1em 0;
}
.intro-main-img {
  width: 100%;
  border-radius: 0.5em;
}
.shop-info {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
  margin: 1em 0;
}
.shop-info-item {
  display: flex;
  text-align: center;
  justify-content: flex-start;
  align-items: flex-end;

  margin: 1em 0;
  height: 1em;
}
.todaysDate {
  margin: 0 0.5em;
  font-size: 1.2em;
  font-weight: 800;
}
@media all and (max-width: 768px) {
  .shop-info {
    display: flex;
    flex-direction: column;

    margin: 1em 0;
  }
  .intro-main-img {
    margin: 0;
    padding: 0;
    width: 100vw;
    border-radius: unset;
  }
  .intro-container {
    padding: 0;
  }
  .shop-info {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
    margin: 1em 0;
    padding: 1em;
  }
  .intro-heading {
    padding: 1em;
  }
}
/* Services (home) Page  */
.services-section {
  width: 100%;
  background-color: var(--white-smoke);
}
.services-container {
  max-width: 1200px;
  padding: 1em;
  margin: auto;
}
.services-heading {
  text-align: center;
  height: 10em;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1em;
}

.services-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
}

.service {
  display: flex;
  align-items: center;
  flex: 1 1 auto;

  margin-bottom: 2em;

  min-width: 300px;
  max-width: 500px;
}
.service-icon {
  width: 3em;
  margin-right: 0.5em;
}
.service-topic {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font: 1.2em;
  font-weight: bolder;
}
@media all and (max-width: 1044px) {
  .services-list {
    justify-content: center;
    flex-wrap: wrap;
  }
}

/* Testemonials Section */
.test-section {
  width: 100%;
}
.test-container {
  max-width: 1200px;
  padding: 1em;
  margin: auto;
}
.test-heading {
  text-align: center;

  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  margin: 1em 0;
}
.test-swiper-container {
  font-size: inherit;
  padding: 0;
}
.test {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  flex-direction: column;

  height: 100%;
}
.test-context {
  margin-bottom: 1.5em;
}
.test-person {
  margin: 2em;
}
.test-img {
  width: 4em;
  border-radius: 50%;
}
