/* Roots */
:root {
  --mainbg-color: #f5f0ed;
  --primary-color: #dcdcdc;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 16px;

  font-family: "Chillax", sans-serif;
}
@media screen and (min-width: 320px) {
  html {
    font-size: calc(16px + 6 * ((100vw - 320px) / 680));
  }
}
@media screen and (min-width: 1000px) {
  html {
    font-size: 22px;
  }
}

/* Main Container CSS */

#main-container {
  position: relative;
  padding: 0;
  margin: auto;
  width: 100%;

  background-color: #fff;
  top: auto;
}
.landing-section {
  position: relative;
  width: 100%;
  height: calc((100vw / 1.8) - 88px);
  margin: auto;
  border-bottom: 1px solid black;
  background-color: white;
}
/* Reponsive Landing Slideshow */
@media (max-width: 991.98px) {
  .landing-section {
    height: calc(100vw * 1.3);
  }
}
@media all and (max-width: 768px) {
  #main-container {
    position: relative;
    padding: 0;
    margin: auto;
    width: 100%;
    max-width: 1200px;
    height: 100%;
    top: 6vh;
  }
  .landing-section {
    width: 100%;
    margin: auto;
    height: 94vh;
    background-color: white;
  }
}
/* Landing */

.landing-container {
  height: 100%;
  position: relative;
}
.swiper-container {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.swiper-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.swiper-slide-1-heading h1 {
  margin: 0;
}
.swiper-1 {
}
.swiper-2 {
}
.swiper-3 {
}
.swiper-slide-heading {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.swiper-btn {
  border: 1px solid goldenrod;
  padding: 0.5em;
  margin: 1em;

  background: transparent;
  cursor: pointer;
}

/* Services (home) Page  */
.services-section {
  width: 100%;
}
.services-container {
  max-width: 1100px;
  padding: 1em;
  margin: auto;
}
.services-heading {
  text-align: center;
  height: 10em;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
}
.services-btn {
  width: 10em;
  padding: 1em;
  text-align: center;
  border-radius: 2em;
  border: none;
  outline: none;
}
.services-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
}
.service {
  display: flex;
  align-items: center;
  flex: 1 1 auto;

  margin: 0.5em 0.1em;
  padding: 1em 0;
  min-width: 300px;
  max-width: 500px;
}
.service-icon {
  width: 3em;
  margin: 0 0.5em;
}
.service-topic {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.service-price {
  font: 1.2em;
  font-weight: 800;
}
